@charset "UTF-8";

@font-face {
    font-family: Yantramanav;
    src: url(../fontes/Yantramanav-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    font-family: Yantramanav;
}
h1{
    font-size: 54px;
}
h2{
    font-size: clamp(56px, 36px + 2vw, 64px);
    color: #fff;
    letter-spacing: 1.34px;
}
h3{
    font-size: 54px;
    color: #fff;
    letter-spacing: 1.13px;
}
h5{
    font-size: clamp(22px, 3px + 2vw, 32px);
    color: #fff;
    letter-spacing: 0.67px;
    font-weight: lighter;
}
p{
    font-size: clamp(14px, 4px + 1vw, 18px);
    color: #B5B5B5;
}
p.negrito{
    font-weight: bold;
}

/*-----------------------------Formatação Primeira Página---------------------------------*/
header#pagina-principal{
    background: radial-gradient(circle at 96% 11%,#2c2c2c 0%,#1a1a1a 65%);
    height: 768px;
}
header#pagina-principal img{
    margin-top: 27px;
    margin-left: 43px;
}
section#tema{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 125px;
    width: 60%;
    text-align: center;
}
section#tema h1{
    color: #fff;
    font: 54px/70px Yantramanav;
    letter-spacing: 1.13px;
    text-transform: capitalize;
}
section#tema p{
    letter-spacing: 0px;
    color: #B5B5B5;
    opacity: 1;
    margin: 0 auto;
    margin-top: 17px;
    width: 46%;
}
nav#menu ul{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
li.b{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 167px;
    height: 54px;
    cursor: pointer;
}
.b.comprar{
    background-color: #F89D24;
    border: none;
    width: 169px;
    height: 56px;
    margin-left: 30px;
}
.btn{
    opacity: 1;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 18px 20px;
}
/*-----------------------------Formatação Segunda Página---------------------------------*/
.borda{
    border: solid 1px #FEC024;
    height: 206px;
    width: 205px;
    position: absolute;
    border-top: none;
    margin-left: 120px;
}
section#clientes{
    background: radial-gradient(circle at 96% 11%,#2c2c2c 0%,#1a1a1a 65%);
    height: 768px;
}
div#grid-clientes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}
div#container-sc{
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    margin-left: 47px;
}
div#container-sc div h2{
    width: 47%;
}
div#container-sc div p{
    width: 63%;
}
div#container-sc div ul{
    display: flex;
    margin-top: 89px;
}
div#grid-xp{
    display: grid;
    grid-template-columns: 44% 44%;
    gap: 32px;
    margin-top: 97px;
}
div#grid-xp ul{
    display: none;
}
.container-xp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    height: 271px;
    width: 100%;
}
.container-xp div.img-logo{
    width: 39%;
}
.container-xp img{
    width: 100%;
}
.container-t{
    width: 85%;
    margin-top: 27px;
}
.container-t h4{
    font-size: clamp(10px, 0px + 1vw, 14px);
    text-transform: uppercase;
    color: #F89D24;
}
.container-t p{
    font-size: clamp(12px, 2px + 1vw, 16px);
}
/*-----------------------------Formatação Terceira Página---------------------------------*/
section#contratar-curso{
    height: 372px;
    background-color: rgba(0, 0, 0, 0.952);
    background-image: url(../imagens/Grupo\ 34.png);
}
div#grid-contrate{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
div#grid-contrate h3{
    text-transform: capitalize;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 108px;
}
div#container-valor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F89D24;
    height: 296px;
    margin-top: 42px;
}
div#container-valor div#btn-fcurso{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 203px;
    height: 56px;
    margin-top: 29px;
}
div#container-valor div#btn-fcurso a{
    color: #F89D24;
    font-weight: bold;
    padding: 17px 54px;
    cursor: pointer;
}

/*-----------------------------Formatação Quarta Página---------------------------------*/
.botao-mobile{
    display: none;
}
section#competencias{
    background-image: url(../imagens/teacher\ bnw@2x.png);
    height: 611px;
    background-size: cover
}
section#competencias h2{
    display: none;
}
section#competencias .borda{
    display: none;
}
.desc-texto{
    display: none;
}
div#grid-comp{
    display: grid;
    grid-template-columns: 25% 38.4%;
    justify-content: center;
}
div#container-comp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #686868;
    margin-top: 127px;
    height: 362px;
}
.desc-comp{
    display: none;
}
.comp-desktop{
    width: 80%;
    margin-left: 60px;
}
div#container-comp-desc{
    background-color: #262626;
    margin-top: 127px;
}
div#container-comp-desc div p{
    width: 58%;
    margin: 0 auto;
    margin-top: 72px;
    color: #fff;
    font-size: clamp(10px, 4px + 1vw, 18px);
}
div#container-comp-desc ul{
    display: flex;
    justify-content: flex-end;
    width: 58%;
    margin: 0 auto;
}
div#container-comp-desc ul li{
    border: none;
    width: 120px;
}
div#container-comp-desc ul li a{
    font-size: clamp(10px, 3px + 1vw, 14px);
    padding: 0;
}
div#container-comp-desc ul li a#comprar-agr{
    color: #F89D24;
}
/*-----------------------------Formatação Quinta Página---------------------------------*/
section#professores{
    background: radial-gradient(circle at 96% 11%,#2c2c2c 0%,#1a1a1a 65%);
    height: 1640px;
    width: 100%;
}
section#professores h2{
    position: relative;
    width: 22%;
    margin-left: 196px;
    margin-bottom: 75px;
    padding-top: 123px;
}
div#grid-professores{
    display: grid;
    grid-template-columns: 24.3% 24.3% 24.3%;
    justify-content: center;
    gap: 20px;
}
.container-prof{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
}
.container-prof img{
    margin-bottom: 18px;
    margin-top: 24px;
    width: 100%;
}
.container-prof div{
    margin-bottom: 13px;
}
.container-prof span{
    font-size: 14px;
    text-transform: uppercase;
    color: #F89D24;
    font-weight: bold;
}
.container-prof p{
    width: 85%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 11px;
}
section#professores ul{
    display: flex;
    justify-content: center;
    margin-top: 78px;
}
/*-------------------------------------------Slide---------------------------------*/
section#slide{
    background-image: url(../imagens/opinion.png);
    height: 768px;
    background-size: 100% 100%;
}
.slide-container {
    width: 95%;
    position: relative;
    margin: auto;
    height: 88%;
    padding-top: 54px;  
  } 
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -80px;
    padding: 16px;
    color: #686868;
    font-size: 60px;
    transition: 0.6s ease;
  }
  .next {
    right: 110px;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(255, 255, 255, 0.123);
  }
  .dots-slide{
      margin-top: -75px;
      text-align: center;
  }
  .dots {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 8px;
      color: #707070;
      background-color: white;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
  .active, .dots:hover {
    background-color: #717171;
  }
  .active{
      animation-duration: 1s;
      animation-name: tamanho;
      animation-fill-mode: forwards;
  }
  @keyframes tamanho {
      from{
        
      }to{
        width: 52px;
        height: 5px;
        border-radius: 2px;
      }
  }
 div#container-slide{
     height: 100%;
     width: 80%;
     margin: 0 auto;
 }
 div#borda-dir{
     position: absolute;
     right: 0;
     border: solid #F89D24;
     width: 66px;
     height: 66px;
     border-left: none;
     border-bottom: none;
 }
 div#borda-esq{
    position: absolute;
    border: solid #F89D24;
    bottom: 0;
    left: 0;
    width: 66px;
    height: 66px;
    border-right: none;
    border-top: none;
}
  .texto-Slides{
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      width: 90%;
  }
  .texto-Slides p{
      font-size: clamp(40px, 2px + 4vw, 64px);
      text-align: center;
      color: #fff;
  }
  .texto-Slides cite{
      margin-top: 30px;
      font-size: clamp(20px, 0px + 2vw, 30px);
      text-transform: uppercase;
      font-style: normal;
      color: #F89D24;
      text-align: right;
      font-weight: bold;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
/*---------------------------------Formatação Sétima Página-------------------------*/
section#capacidade{
    background: radial-gradient(circle at 96% 11%,#2c2c2c 0%,#1a1a1a 65%);
    height: 768px;
}
div#grid-capacidade{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

div#container-cap{
    display: flex;
    flex-direction: column;
    margin-top: 123px;
    margin-left: 47px;
}
div#container-cap div h2{
    position: relative;
    width: 58%;
    margin-bottom: 20px;
}
div#container-cap div p{
    width: 62%;
}
div#container-cap ul{
    display: flex;
    margin-top: 62px;
}
div#lista-cap{
    margin-top: 192px;
    width: 70%;
    margin-left: 50px;
}
div#lista-cap ul{
    list-style-type: circle;
}
div#lista-cap ul li{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    color: #F89D24;
}
div#lista-cap ul li{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    color: #F89D24;
    margin-bottom: 7px;
}
div#lista-cap ul p{
    font-size: 16px;
    margin-bottom: 32px;
}
/*--------------------------------Ultima Página-------------------------------------*/
section#negociando{
    height: 768px;
    background: url(../imagens/negociando.png)left no-repeat , linear-gradient(to right, #1A1A1A , #2C2C2C) ;
    background-size: 80% 100% , 100%;
    background-position: -300px, 0px;
    display: flex;
    justify-content: flex-end;
}
div#container-neg{
  width:40%;
  display:flex;
  flex-direction:column;
}
div#container-neg h2{
  margin-top:123px;
  width: 238px;
  margin-bottom:20px;
}
div#container-neg p{
  width: 337px;
}
div#container-neg ul{
  display:flex;
  margin-top: 70px;
}
div#container-neg .borda{  
    right: 198px;
  }
/*--------------------------------Footer-------------------------------------*/
footer{
    width: 100%;
    height: 186px;
    background-color: #000;
}
div#container-final{
    display: flex;
    justify-content: space-between;
    margin: 35px 64px auto 64px;
    
}
div#container-final strong{
    color: #B5B5B5; 
}
div#container-final ul{
    display: flex;
    
    color: #B5B5B5; 
}
div#container-final ul li{
    list-style:  none;
    margin-right: 10px;
}

/*--------------------------------Modal-------------------------------------*/
.modal-container{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container.mostrar{
    display: flex;
}
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    width: 35%;
    min-width: 300px;
    height: 80%;
    padding: 40px;
    position: relative;
    font-family: lato;
}
.modal h3{
    font-size: clamp(28px, 20px + 1vw,);
    text-transform: uppercase;
    color: #F89D24;
    margin-top: 20px;
    margin-bottom: 30px;
}
.modal p{
    font-weight: lighter;
    text-align: center;
    margin-bottom: 30px;
}
.modal form input{
    width: 328px;
    height: clamp(40px, 2px + 4vw, 56px);
    border: 1px solid #F89D24;
    border-radius: 4px;
    font-size: 16px;
}
.modal form input::placeholder{
    color:#F89D24;
}
.modal form input[type = text], .modal form input[type = email]{
    font-size: 16px;
    padding-left: 16px;
    color: #F89D24;
}
.modal form input[type = checkbox]{
    width: 15px;
    height: 16px;
}
.modal form label{
    margin-left: 20px;
    color: #E1E1E1;
}
.modal form label span{
    text-decoration: underline;
}
.modal form input[type = submit]{
    width: 230px;
    height: 56px;
    margin: 0 auto;
    background-color: #F89D24;
    font-size: 14px;
    font-family: lato;
    letter-spacing: 1px;
    cursor: pointer;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.mostrar .modal{
    animation: modal .3s;
}
.fechar{
    position: absolute;
    top: 31px;
    right: 35px;
    font-size: 35px;
    color: #707070;
    background-color: #232323;
    cursor: pointer;
    border: none;
}
form#tenho-interesse{
    display: grid;
    gap: 15px;
}
/*-------------------------------Responsividade----------------------------------*/
@media only screen and (max-width: 1000px){

    h2{
    font-size: clamp(48px, 36px + 2vw, 64px);
    }
    h3{
        font-size: 40px;
    }
/*-----------------------------Primeira Página---------------------------*/
    header#pagina-principal{
        height: 100%;
    }
    div#logo-p{
        width: 44px;
        height: 36px;
    }
    header#pagina-principal img{
        margin-top: 16px;
        margin-left: 16px;
        width: 100%;
    }
    section#tema{
        margin-top: 52px;
        width: 80%;
    }
    section#tema h1{
        font-size: clamp(40px, 29px + 3vw, 54px);
        font-weight: bold;
        line-height: normal;
    }
    section#tema p{
        font-size: clamp(14px, 10px + 1vw, 18px);
        margin-top: 17px;
        width: 100%;
    }
    nav#menu ul{
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
        padding-bottom: 70px;
    }
    .b.comprar{
        margin-left: 0px;
        margin-top: 24px;
    }
/*------------------------------------------ Segunda Página --------------------------------*/
.borda{
    height: 105px;
    width: 110px;
    margin-left: 14px;
}
section#clientes{
    height: 100%;
}
div#grid-clientes{
    width: 90%;
    display: flex;
    flex-direction: column;
}
div#container-sc{
    margin-top: 43px;
    margin-left: 10px;
    position: relative;
}
div#container-sc div h2{
    width: 47%;
}
div#container-sc div p{
    width: 99.4%;
}
div#container-sc div ul{
    display: none;
}
div#grid-xp{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}
.container-xp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6E6E6E;
    border-radius: 5px;
    height: 271px;
    width: 251px;
}
.container-xp div.img-logo{
    width: 39%;
}
.container-xp img{
    width: 100%;
}
.container-t h4{
    font-size: clamp(14px, 0px + 1vw, 14px);
}
.container-t p{
    font-size: clamp(16px, 2px + 1vw, 16px);
    font-weight: bold;
}
div#grid-clientes ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
/*------------------------------------------ Terceira Página --------------------------------*/
section#contratar-curso{
    height: 547px;
}
div#grid-contrate{
    position: relative;
    display: flex;
    flex-direction: column;
}
div#grid-contrate h3{
    width: 85%;
    margin-top: 45px;
}
div#container-valor{
    height: 250px;
    margin-top: 43px;
}
/*------------------------------------------ Quarta Página --------------------------------*/
section#competencias{
    height: 100%;
    background-size: cover;
    background-position-x: -150px;
}
section#competencias h2{
    display: block;
    margin-top: 43px;
    margin-left: 10px;
    position: relative;
}
section#competencias .borda{
    display: block;
}
div#grid-comp{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    gap: 20px;
}
div#container-comp{
    margin-top: 0px;
    height: 100%;
}
.comp-desktop{
    display: none;
}
.desc-comp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}
.seta{
    color: #fff;
    font-size: 25px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.desc-texto{
    display: none;
    animation-name: teste;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.desc-texto p{
    font-size: 18px;
    margin: 24px auto 24px auto;
    width: 87%;
}
@keyframes teste {
    0%{
        
    }100%{
    top: 0;
    background-color: #262626;
    border-top: 1px solid #F89D24;
    border-bottom: 1px solid #F89D24;
    }
}

div#container-comp-desc{
    display: none;
}
.botao-mobile{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
}
/*-----------------------------Formatação Quinta Página---------------------------------*/
section#professores{
    height: 100%;
    width: 100%;
    background: none;
    background-color: #0C0C0C;
}
section#professores h2{
    margin-left: 24px;
    margin-bottom: 75px;
    padding-top: 43px;
}
div#grid-professores{
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 90%;
}
section#professores ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    padding-bottom: 80px;
}
.container-prof{
    width: 324px;
}
.container-prof img {
    margin-left: 24px;
    margin-bottom: 18px;
    margin-top: 24px;
    width: 85%;
}
/*-------------------------------------------Slide---------------------------------*/
section#slide{
    background-image: url(../imagens/opinion.png);
    height: 609px;
    background-size: cover;
    background-position-x: -280px;
    padding-bottom: 50px;
}
  .prev, .next {
    display: none;
  }
  .dots-slide {
    margin-top: 0px;
    text-align: center;
}
  .dots {
      transition: background-color 0.2s ease;
    }
  .active, .dots:hover {
    background-color: #717171;
  }
  .active{
      animation-duration: 0.7s;
      animation-name: tamanho;
      animation-fill-mode: forwards;
  }
  @keyframes tamanho {
      from{
        
      }to{
        width: 52px;
        height: 5px;
        border-radius: 2px;
      }
  }
 div#container-slide{
     height: 100%;
     width: 80%;
     margin: 0 auto;
 }
 div#borda-dir, div#borda-esq{
     display: none;
}
  .texto-Slides{
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 90%;
  }
  .texto-Slides cite{
      margin-top: 0px;
      font-size: clamp(18px, 0px + 2vw, 30px);
      text-align: center;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
} 
  /*---------------------------------Formatação Sétima Página-------------------------*/
section#capacidade{
    height: 100%;
}
div#grid-capacidade{
    grid-template-columns: 1fr;
    width: 100%;
}
div#container-cap{
    margin-top: 43px;
    margin-left: 24px;
}
div#container-cap div ul{
    display: none;
}
div#container-cap div h2{
    width: 75%;
}
div#container-cap div p{
    width: 95%;
}
div#lista-cap{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
}
.botao-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/*--------------------------------Ultima Página-------------------------------------*/
section#negociando{
    height: 100%;
    background: url(../imagens/negociando.png)left no-repeat;
    background-size: cover;
    background-position: 0px;
    display: flex;
    justify-content: flex-end;
}
div#container-neg{
  width:100%;
  display:flex;
  flex-direction:column;
}
div#container-neg h2{
    position: relative;
    margin-top:47px;
    width: 238px;
    margin-bottom:14px;
    margin-left: 24px;
}
div#container-neg p{
    margin-left: 24px;
    font-size: clamp(14px, 10px + 1vw, 18px);
    width: 87%;
}
div#container-neg ul{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 52px;
  margin-bottom: 70px;
}
div#container-neg .borda{  
    left: 0;
  }
  /*--------------------------------Footer-------------------------------------*/
footer{
    width: 100%;
    height: 100%;
    background-color: #000;
}
div#container-final{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 35px auto;
    
}
div#container-final strong{
    color: #B5B5B5; 
}
div#container-final ul{
    margin-top: 40px;
    display: flex;
   justify-content: center;
    color: #B5B5B5; 
}
div#container-final ul li{
    list-style:  none;
    margin-right: 10px;
}
.mobile{
    display: none;
}
/*--------------------------------Modal-------------------------------------*/
.modal{
    min-width: 250px;
    padding: 20px;
    width: 80%;
}
.modal h3{
    font-size: clamp(28px, 20px + 3vw, 40px);
    margin-top: 20px;
    margin-bottom: 10px;
}
.modal p{
    font-size: clamp(14px, 20px + 3vw, 25px);
    margin-top: 10px;
    margin-bottom: 3vh;
}
form#tenho-interesse{
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 0;
}
.modal form input{
    margin: 0 auto;
    width: 90%;
    height: 7vh;
}
.modal form input[type = text], .modal form input[type = email]{
    padding-left: 0;
}
.modal form input[type = checkbox]{
    position: relative;
}
.modal form input[type = submit]{
    width: 80%;
    height: 7vh;
    padding-top: 10px;
}
.modal form label {
    margin-left: 10px;
    position: relative;
}
.fechar{
    top: 15px;
    right: 20px;
    font-size: 25px;
}
}